ul{
  list-style-type: none; 
  background-color: #6b5d96;
  padding-right: 20px;
  padding: 10px;
  margin: 0;
}
a{
  font-size: 30px;
  text-decoration: none;
  color: white;
}
li{
  display: inline;
  padding-left: 20px;
}
a:hover {
  color: lavender;
}