<h3>Todo List
    <button (click)="addTodo()">Add</button>
    <input type="text" class="todoname" list="todo-datalist" placeholder="Search. . ." [(ngModel)]="newtodoname"/>
</h3>
<hr/>
<table id="todo-list">
    <th>Todo Name</th><th colspan="2">Actions</th>
    <tr *ngFor="let todo of todoArray;">
        <td> {{todo.todoname}} </td>
        <td>
            <input type="button" value="Edit" (click)="editTodo(todo.todoid)"/>
        </td>
        <td>
            <input type="button" value="Delete" (click)="deleteTodo(todo.todoid)"/>
        </td>
    </tr>
</table>